.DS_Store
*.tmp
src/ontology/mirror
src/ontology/mirror/*
src/ontology/triffo.owl
src/ontology/triffo.obo
src/ontology/triffo.json
src/ontology/triffo-base.*
src/ontology/triffo-basic.*
src/ontology/triffo-full.*
src/ontology/triffo-simple.*
src/ontology/triffo-simple-non-classified.*
semantic.cache
bin/
src/ontology/seed.txt
src/ontology/target/
src/ontology/dosdp-tools.log
src/patterns/imports/seed_sorted.txt
src/ontology/ed_definitions_merged.owl
src/ontology/patterns 
*.tmp.obo
*.tmp.owl